*.asv
*.mat
*.in
*.out
*.mexa64
kinova_src/kinova_simulator_interfaces/kinova_robust_controllers_mex/.vscode/
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/.vscode/
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/armour_main
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/test
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/ipopt.out
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/buffer/armour.in
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/buffer/armour.out
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/buffer/armour_constraints.out
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/buffer/armour_joint_position_center.out
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/buffer/armour_joint_position_radius.out
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/buffer/armour_control_input_radius.out
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime_armtd_comparison/.vscode/
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime_armtd_comparison/armtd_main
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime_armtd_comparison/ipopt.out
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime_armtd_comparison/buffer/armtd.in
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime_armtd_comparison/buffer/armtd.out
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime_armtd_comparison/buffer/armtd_constraints.out
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime_armtd_comparison/buffer/armtd_joint_position_center.out
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime_armtd_comparison/buffer/armtd_joint_position_radius.out
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime_armtd_comparison/buffer/armtd_control_input_radius.out
kinova_src/kinova_simulator_interfaces/kinova_robust_controllers_mex/kinova_controller.mexa64
kinova_src/kinova_test_folder_path.mat
simulator/dynamics/temp.txt
